body {
    font-family: 'Karla', sans-serif;
    background-color: whitesmoke;
}

.top-breaker {
    height: 200px;
    overflow: hidden;
}

/* Mission and Intro Video/Text */
.mission {
    width: 75%;
    margin: 60px auto 30px auto;
}

.mission img {    
    width: 100%;
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 4px;
}

h2 {
    font-weight: bold;
    margin-bottom: 4px;
}

.mission > p {
    line-height: 1.1;
    background-color: lightgray;
    padding: 20px;
    border-left: 5px solid #5b5bdc;
}

.intro-video-container {
    display: flex;
    margin: 50px 0;
    position: relative;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-video-container p {
    width: 48%;
    margin-left: 2%;
}

/* Offerings */
.offerings {
    width: 90%;
    margin: 50px auto;
}

.offerings h2 {
    margin-bottom: 25px;
}

.offering-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.offering-card {
    width: 30%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
    box-shadow: 7px 6px 13px -2px black;
}

.offering-card i {
    color: #5b5bdc;
    font-size: 95px;
    margin-bottom: 4px;
    width: 100%;
    text-align: center;
}

.offering-card h3 {
    margin: 15px 10px;
    font-weight: bold;
}

.offering-card p {
    text-align: center;
}

.offering-card a {
    color: #0000EE;
}

.offering-card a:visited {
    color: #551A8B;
}

/* Breaker */
.breaker {
    width: 100%;
}

/* Calendar */
#calendar {
    padding: 50px 5%;
}

#calendar h2 {
    margin-bottom: 40px;
}

#calendar a {
    color: #0000EE
}

#calendar table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

#calendar table {
    margin: 0 auto;
    background: lightgray;
}

#calendar caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 130%;
}

#calendar td {
    height: 100px;
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding: 5px;
}

/* Quad */
.quad {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bold;
    margin: 100px 0;
}
.quad > a {
    width: 50%;
    overflow: hidden;
    position: relative;
    color: black;
    font-size: 140%;
}

.quad > a:hover > img {
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1); 
}

.quad a > img {
    width: 100%;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s, transform .25s;
}

.quad > a > div {
    position: absolute;
    left: 69%;
    top: 11%;
    font-size: 2.8vw;
}

.quad > a p {
    font-size: 48%;
    font-weight: normal; 
    margin-top: 10px;
    width: 82%;
}

.quad .white-font-dark-background {
    color: white;
    background-color: black;
}
.quad > a .left {
    left: 8%;
    width: 28%;
}

.location {
    margin: 75px;
}

.location .map {
    display: block;
    margin: 25px auto;
}

footer {
    width: 100%;
    background-color: black;
    border-radius: 4px 4px 0 0;
    color: whitesmoke;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

footer .info {
    width: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info a {
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    font-size: 140%;
    font-weight: normal;
    margin: 10px 0;
}

.info i {
    margin-right: 10px;
}

.info .fa-map-marker-alt {
    margin-left: 2px;
    margin-right: 8px;
}

.info .fa-phone {
    margin-right: 13px;
}

footer img {
    height: 112px;
    margin-top: 21px;
}

footer .social {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.social a {
    color: whitesmoke;
    font-size: 385%;
}