body {
    font-family: 'Karla', sans-serif;
    background-color: whitesmoke;
}

/*** Header ***/
header {
    width: 100%;
    background-color: black;
    border-radius: 0 0 2px 2px;
    color: whitesmoke;
    padding-top: 75px;
}

.title {
    margin-left: 4%;
    width: 26%;
    display: inline-block;
    vertical-align: top;
}

.title h1 {
    font-size: 350%;
}

.title img {
    height: 100px;
    margin-bottom: 35px;
}

.title h2 {
    margin: 10px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 117%;
}

.title em {
    font-weight: bold;
    color: #9fcc39;
}

header .green {
    color: #9fcc39;
}

header .purple {
    color: #5b5bdc;
}


.collage {
    width: 66%;
    display: inline-block;
    margin-bottom: 65px;
    margin-left: 3%;
}

header .card {
    margin: 10px;
    width: 15vw;
    height: 15vw;
    vertical-align: top;
    display: inline-block;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-1 {
}

.flip-card-2 {
}

.flip-card-3 {
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card img {
    width: 100%;
    border-radius: 2px;
}

.word-card {
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 15vw;
}

.word-card-1 {
}

.word-card-2 {
}

.word-card-3 {
}

/*** Nav ***/
nav {
    position: sticky;
    background: black;
    color: whitesmoke;
    width: 100%;
    height: 75px;
    line-height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

nav button {
    margin-left: 50px;
    color: #9fcc39;
    height: 40px;
    width: 88px;
    border-radius: 30px;
    background: black;
    border: 2px solid #9fcc39;
}

nav button:hover {
    box-shadow: 1px 2px 22px 0px #9fcc39
}

nav .main-links {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: auto;
    margin-right: 65px;
    height: 78px;
}

nav .main-links li {
    display: inline;
    font-size: 180%;
}

nav .main-links li::after {
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    content: "";
    position: relative;
    top: -65px;
    display: inline-block;
    transition: width .4s ease-in-out;
}

nav .main-links li:hover::after {
    width: 100%;
}

#service-list {
    display: none;
    height: 300px;
    width: 200px;
    position: absolute;
    flex-direction: column;
    background-color: black;
    top: 54px;
    right: 239px;
    line-height: 43px;
    padding: 3px;
    
}

#service-list > div {
    height: 294px;
    width: 194px;
    border: 2px solid whitesmoke;
    padding: 20px;
}

/* Mission and Intro Video/Text */
.mission {
    width: 75%;
    margin: 25px auto;
}

.mission img {    
    width: 100%;
    margin-top: 25px;
    border: 2px solid black;
    border-radius: 4px;
}

h2 {
    font-weight: bold;
    margin-bottom: 4px;
}

.mission > p {
    line-height: 1.1;
    background-color: lightgray;
    padding: 20px;
    border-left: 5px solid #5b5bdc;
}

.intro-video-container {
    display: flex;
    margin: 50px 0;
    position: relative;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-video-container p {
    width: 48%;
    margin-left: 2%;
}

/* Offerings */
.offerings {
    width: 90%;
    margin: 50px auto;
}

.offerings h2 {
    margin-bottom: 25px;
}

.offering-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.offering-card {
    width: 30%;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightgray;
    box-shadow: 7px 6px 13px -2px black;
}

.offering-card i {
    color: #5b5bdc;
    font-size: 95px;
    margin-bottom: 4px;
}

.offering-card h3 {
    margin: 15px 10px;
    font-weight: bold;
}

.offering-card p {
    text-align: center;
}

.offering-card a {
    color: #0000EE;
}

.offering-card a:visited {
    color: #551A8B;
}

/* Breaker */
.breaker {
    width: 100%;
}

/* Calendar */
#calendar {
    padding: 50px 5%;
}

#calendar h2 {
    margin-bottom: 40px;
}

#calendar a {
    color: #0000EE
}

#calendar table, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}

#calendar table {
    margin: 0 auto;
    background: lightgray;
}

#calendar caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 130%;
}

#calendar td {
    height: 100px;
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding: 5px;
}

/* Quad */
.quad {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bold;
    margin: 100px 0;
}
.quad > a {
    width: 50%;
    overflow: hidden;
    position: relative;
    color: black;
    font-size: 140%;
}

.quad > a:hover > img {
    -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    transform: scale(1.1); 
}

.quad a > img {
    width: 100%;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s, transform .25s;
}

.quad > a > div {
    position: absolute;
    left: 69%;
    top: 11%;
    font-size: 2.8vw;
}

.quad > a p {
    font-size: 48%;
    font-weight: normal; 
    margin-top: 10px;
    width: 82%;
}

.quad .white-font-dark-background {
    color: white;
    background-color: black;
}
.quad > a .left {
    left: 8%;
    width: 28%;
}

.location {
    margin: 75px;
}

.location .map {
    display: block;
    margin: 25px auto;
}

footer {
    width: 100%;
    background-color: black;
    border-radius: 4px 4px 0 0;
    color: whitesmoke;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

footer .info {
    width: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.info a {
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    font-size: 140%;
    font-weight: normal;
    margin: 10px 0;
}

.info i {
    margin-right: 10px;
}

.info .fa-map-marker-alt {
    margin-left: 2px;
    margin-right: 8px;
}

.info .fa-phone {
    margin-right: 13px;
}

footer img {
    height: 112px;
    margin-top: 21px;
}

footer .social {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.social a {
    color: whitesmoke;
    font-size: 385%;
}